<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ range .Site.Author }}{{ . }} {{ end }}{{ end }}">
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.homeSubtitle }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
    <meta name="keywords" content="{{ .Site.Params.keywords }}{{ if .Params.tags }}{{ range .Params.tags }}, {{ . }}{{ end }}{{ end }}" />
    <meta name="robots" content="noodp" />
    <meta name="theme-color" content="{{ .Site.Params.themeColor }}" />
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ $title := print .Title " · " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
    {{ $prismStyles := slice (resources.Get "css/prism.css") (resources.Get "css/cookieconsent.min.css") (resources.Get "css/styles.css") | resources.Concat "site.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />
    <link rel="stylesheet" href="{{ $prismStyles.Permalink }}" />

    {{ range $val := $.Site.Params.customCSS }}
        {{ if gt (len $val) 0 }}
            <link rel="stylesheet" type="text/css" href="{{ $val }}">
        {{ end }}
    {{ end }}

    <!-- SEO Metadata -->
    {{- template "_internal/schema.html" . }}
    {{- template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ $featureImage := (.Param "feature_image")}}
    {{ if not $featureImage }}
        {{ $featureImage = index (findRE "background: url\\((.*)\\)" .Content) 0 }}
        {{ if $featureImage}}
            {{ $featureImage = index (findRE "http[a-zA-z0-9/:_.=*,-]*" $featureImage) 0 }}
        {{end}}
    {{ end }}
    {{if $featureImage}}
    <meta name="twitter:image" content="{{ $featureImage | absURL }}">
    <meta property="og:image" content="{{ $featureImage | absURL }}">
    {{else}}
    <meta name="twitter:image" content="/images/avatar.jpg">
    <meta property="og:image" content="/images/avatar.jpg">
    {{end}}

    <!-- RSS -->
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <!-- JSON Feed -->
    {{ if .OutputFormats.Get "json" }}
        <link href="{{ if .OutputFormats.Get "json" }}{{ .Site.BaseURL }}feed.json{{ end }}" rel="alternate"
        type="application/json" title="{{ .Site.Title }}" />
    {{ end }}

    {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}"
        href="{{ .Permalink | safeURL }}">
    {{ end -}}

</head>
<body class="{{ block "body_class" . }} {{ end }}">

    <div class="site-wrapper">
        {{- block "main" . }}{{- end }}


        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> &copy; {{ .Date.Format "2006" }}</section>
                <nav class="site-footer-nav">
                    <a href="{{ .Site.BaseURL }}">Latest Posts</a>
                    {{ if .Site.Params.facebook }}<a href="{{ .Site.Params.facebook }}" target="_blank" rel="noopener">Facebook</a>{{ end }}
                    {{ if .Site.Params.twitter }}<a href="{{ .Site.Params.twitter }}" target="_blank" rel="noopener">Twitter</a>{{ end }}
                    {{ if .Site.Params.github }}<a href="{{ .Site.Params.github }}" target="_blank" rel="noopener">Github</a>{{ end }}
                    <a href="https://jonathanjanssens.com" target="_blank" rel="noopener" style="opacity: 0.5;">Hugo Casper3 by Jonathan Janssens</a>
                </nav>
            </div>
        </footer>

    </div>

    {{ partial "javascript.html" . }}
</body>
{{.Params.images}}
</html>