{{ define "main" }}
<article
  class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
  {{ .Content }}
</article>
<div class="pa3 pa4-ns w-100 w-60-l center">
  {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

  <section class="w-100 mw8">
    {{ $paginator := .Paginate (where .Pages "Type" "in" "[post, microblog]") }}
    {{ range $paginator.Pages }}
    <div class="relative w-100 mb4">
      {{ partial "summary-with-image.html" . }}
    </div>
    {{ end }}
  </section>
</div>
{{ template "_internal/pagination.html" . }}
{{ end }}