<link href="https://micro.blog/preslavrachev" rel="me" />
<link href="https://github.com/preslavrachev" rel="me" />

<link rel="micropub" href="https://untitled-ijfrpfomttsw.runkit.sh/micropub" />
<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
<link rel="authorization_endpoint" href="https://indieauth.com/auth" />

<!-- Search Engines -->
<meta name="yandex-verification" content="89a95028305dc3e3" />
<meta name="msvalidate.01" content="4BA490C33C6642493B5231888C5C1044" />

<!-- Google Structured Data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "url": "https://www.preslav.me",
  "name": "Preslav Rachev",
  "jobTitle": "A software engineer specializing in building data-driven applications in Go, Python, and for the JVM"
}
</script>

{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}"
    href="{{ .Permalink | safeURL }}">
{{ end -}}

<style>
    #carbonads {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
            Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    #carbonads {
        display: flex;
        max-width: 330px;
        background-color: hsl(0, 0%, 98%);
        box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, .1);
    }

    #carbonads a {
        color: inherit;
        text-decoration: none;
    }

    #carbonads a:hover {
        color: inherit;
    }

    #carbonads span {
        position: relative;
        display: block;
        overflow: hidden;
    }

    #carbonads .carbon-wrap {
        display: flex;
    }

    .carbon-img {
        display: block;
        margin: 0;
        line-height: 1;
    }

    .carbon-img img {
        display: block;
    }

    .carbon-text {
        font-size: 13px;
        padding: 10px;
        line-height: 1.5;
        text-align: left;
    }

    .carbon-poweredby {
        display: block;
        padding: 8px 10px;
        background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-weight: 600;
        font-size: 9px;
        line-height: 1;
    }
</style>